{% extends 'base.html' %}
}
{% block content %}
Welcome to Wall Talk 

<div id="posts">
    Replace me ...
</div>

<script>
const postsElement = document.getElementById("posts")
postsElement.innerHTML = 'Loading ...'

var el1 = "<h1> Hi Thing 1</h1>"

var el2 = "<h1> Hi Thing 2</h1>"

var el3 = "<h1> Hi Thing 3</h1>"
postsElement.innerHTML = el1 + el2 + el3


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/posts"
const responseType = "json"

xhr. responseType = responseType
xhr.open(method,url)
xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    console.log(listedItems)
}
xhr.send()


</script>
{% endblock content %}
